# Virtual environment
tajassom-env/
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env
